:root {
    --blue: #0075FF;
    --blue-dark: #1E2158;
    --green: #76A70F;
    --red: #ff0000;

    --popup-bg-color: var(--blue-dark);
    --popup-btn-bg-color: var(--green);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.block-wheel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    font-family: 'Montserrat', sans-serif;
    /* background: url('landscape-bg.png') lightgray 0px 0px / 100% 169.63% no-repeat; */
    color: #fff;
}
.block-wheel img {
    display: block;
    /* max-width: 100%; */
}
.wheel-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* display: none; */
}
.wheel-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
.wheel-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* padding: 95px 50px 0; */
    padding-top: clamp(18px, 4.95vw, 95px);
    padding-left: clamp(20px, 2.6vw, 50px);
    padding-right: clamp(20px, 2.6vw, 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.wheel-header .logo {
    /* width: 229px; */
    width: clamp(115px, 11.92vw, 229px);
    /* height: 50px; */
    height: (25px, 2.6vw, 50px);
}
.wheel-header a {
    display: flex;
    align-items: center;
    /* font-size: 20px; */
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    text-decoration: none;
}
.wheel-header a span {
    /* margin-right: 20px; */
    margin-right: clamp(10px, 1.04vw, 20px);
    white-space: nowrap;
}
.wheel-header a svg {
    transition: .3s;
    /* width: 30px; */
    width: clamp(16px, 1.5625vw, 30px);
    /* height: 26px; */
    height: clamp(14px, 1.354vw, 26px);

}
.wheel-header a:hover svg {
    transform: translateX(16px);
}

/* scene */
.wheel-scene {
    display: flex;
    justify-content: center;
}
.wheel-man {
    position: absolute;
    left: 0;
    /* bottom: 100px; */
    bottom: clamp(80px, 5.2vw, 100px);
    z-index: 4;
    width: 100%;
    /* max-width: 432px; */
    max-width: clamp(240px, 22.4vw, 432px);
}
.wheel-man img {
    width: 100%;
}
.wheel-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 3;
}
.wheel-center-bg {
    /* width: 85.9375vw; */
    width: clamp(860px, 85.9375vw, 2560px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wheel-center-bg img {
    width: 100%;
}

/* wheel */
.wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: clamp(500px, 52.135vw, 1000px);
}
.wheel-shine,
.wheel-inner,
.wheel-dragon {
    position: absolute;
}
.wheel-inner,
.wheel-inner,
.wheel-shine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wheel-shine {
    width: 120%;
    z-index: 1;
}
.wheel-inner {
    width: 62%;
    z-index: 2;
}
.wheel-inner.lose {
    animation: 3s wheel-lose-animation ease-in-out forwards;
}
.wheel-inner.win {
    animation: 3s wheel-win-animation ease-in-out forwards;
}
@keyframes wheel-lose-animation {
    0% {
        transform: translate(-50%,-50%) rotate(0);
    }

    to {
        transform: translate(-50%,-50%) rotate(4.3125turn);
    }
}
@keyframes wheel-win-animation {
    0% {
        transform: translate(-50%,-50%) rotate(4.3125turn);
    }

    to {
        transform: translate(-50%,-50%) rotate(10.9375turn);
    }
}

.wheel-base {
    position: relative;
    z-index: 3;
    width: 100%;
}
.wheel-dragon {
    width: 21%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
.wheel-btn {
    width: 14.6%;
    height: 14.6%;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    background: linear-gradient(180deg, #111324 0%, #81D1C1 33.33%, #013C81 59.90%, #171B41 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 35px; */
    font-size: clamp(18px, 1.83vw, 35px);
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-transform: uppercase;
    cursor: pointer;

}
.wheel-btn.disabled {
    cursor: not-allowed;
}
.wheel-btn.smaller {
    font-size: clamp(14px, 1.4vw, 32px);
}
.wheel-btn span {
    transition: .3s;
    padding-right: 4px;
    /* overflow: hidden; */
    position: relative;
}
.wheel-btn:not(.disabled) span {
    /* animation: button-spin-zoom 3s linear, button-blink-animation 3s linear infinite; */
    animation: button-blink-animation 3s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
    .wheel-btn:not(.disabled):hover span {
        transform: rotate(360deg);
        animation: initial;
    }
}

@keyframes button-spin-zoom {
    0% {
        transform: scale(1) rotate(0);
    }
    25% {
        transform: scale(0.8) rotate(0);
    }
    50% {
        transform: scale(1.2) rotate(0);
    }
    75% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
@keyframes button-blink-animation {
    0% {
        text-shadow: 0 0 10px #03bcf4,
        0 -2px 20px #03bcf4,
        0 -4px 40px #03bcf4,
        0 -8px 80px #03bcf4,
        0 -16px 160px #03bcf4,
        0 -32px 320px #03bcf4,
        0 -64px 640px #03bcf4;
    }
    5% {
        text-shadow: 0 0 1px #fff;
    }
    80% {
        text-shadow: 0 0 1px #fff;
    }
    85% {
        text-shadow: 0 0 10px #03bcf4,
        0 -2px 20px #03bcf4,
        0 -4px 40px #03bcf4,
        0 -8px 80px #03bcf4,
        0 -16px 160px #03bcf4,
        0 -32px 320px #03bcf4,
        0 -64px 640px #03bcf4;
    }
    95% {
        text-shadow: 0 0 1px #fff;
    }
    100% {
        text-shadow: 0 0 10px #03bcf4,
        0 -2px 20px #03bcf4,
        0 -4px 40px #03bcf4,
        0 -8px 80px #03bcf4,
        0 -16px 160px #03bcf4,
        0 -32px 320px #03bcf4,
        0 -64px 640px #03bcf4;
    }
}

/* bottom text */
.bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 0 48px 32px; */
    padding-left: clamp(20px, 1.66vw, 32px);
    padding-right: clamp(20px, 1.66vw, 32px);
    padding-bottom: clamp(20px, 2.5vw, 48px);
    z-index: 5;
}
.bottom-title {
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    /* font-size: 60px; */
    font-size: clamp(32px, 3.125vw, 60px);
    /* line-height: 1.2; */
    /* line-height: 50px; */
    line-height: .833;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
}
.bottom-title span {
    color: #0075FF;
    /* font-size: 36px; */
    font-size: clamp(32px, 1.875vw, 36px);
    display: block;
    /* margin-bottom: 20px; */
    margin-bottom: clamp(18px, 1.04vw, 20px);
    /* line-height: 25px; */
    line-height: .6944;
}
.bottom-annotation {
    /* margin-top: 58px; */
    margin-top: clamp(29px, 1.51vw, 58px);
    /* font-size: 20px; */
    /* font-size: clamp(13px, 1.04vw, 20px); */
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 400;
    line-height: 1.5;
    opacity: .5;
}
.bottom-policy-btn-mobile {
    margin-top: clamp(24px, 8vw, 48px);
    display: none;
    font-size: clamp(13px, 3.46vw, 18px);
    line-height: 1.5;
    color: rgba(245, 245, 245, .5);
    text-decoration: underline;
    border: 0;
    background-color: transparent;
}

/* popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transform: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.popup-active {
    opacity: 1;
    pointer-events: auto;
}
.popup-overlay {
    background-color: rgba(16, 155, 243, 0.1);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup-body {
    width: clamp(306px, 41.66vw, 800px);
    /* height: 400px; */
    border-radius: 50px;
    background-color: var(--popup-bg-color);
    position: relative;
    z-index: 2;
}
.popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.popup-close svg {
    width: 26px;
    height: 26px;
    display: block;
}
.popup-content {
    width: 100%;
    height: 100%;
    display: flex;
}
.popup-stage {
    display: none;
    /* align-items: center; */
    width: 100%;
    padding: clamp(36px, 3.90625vw, 75px) clamp(20px, 2.6vw, 50px);
}
.popup-stage-active {
    display: flex;
}
.popup-stage-one {
    align-items: center;
    justify-content: space-around;
}
.popup-stage-two {
    align-items: flex-start;
}
.popup-stage-figure {
    max-width: clamp(120px, 13.02vw, 250px);
}
.popup-stage-figure img {
    width: 100%;
}
.popup-stage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-stage-two-text {
    flex-grow: 1;
}
.popup-stage-title {
    font-size: clamp(18px, 1.04vw, 20px);
    /* line-height: 2.075; */
    line-height: 1.2;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.popup-stage-title span {
    font-size: clamp(25px, 1.40625vw, 27px);
    color: var(--red);
    display: block;
}
.popup-stage-btn {
    margin-top: clamp(38px, 2.29vw, 44px);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: clamp(32px, 2.083vw, 40px);
    padding-right: clamp(32px, 2.083vw, 40px);
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 10px 8px 0px rgba(2, 15, 24, 0.20);
    background-color: var(--popup-btn-bg-color);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 202px;
}
.popup-stage-btn.smaller {
    font-size: clamp(14px, 1.04vw, 20px);
}

@media (max-width: 767px) {

    .wheel-man {
        display: none;
    }

    .bottom-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-title {
        text-align: center;
    }
    .bottom-annotation {
        /* text-align: center; */
        /* line-height: 1.4; */
        display: none;
    }
    .bottom-policy-btn-mobile {
        display: block;
    }
    .policy-popup-mobile .popup-body {
        border-radius: 24px;
    }
    .policy-popup-mobile .popup-close {
        display: block;
        right: 12px;
        top: 12px;
    }
    .policy-popup-mobile .popup-close svg {
        width: 20px;
        height: 20px;
    }
    .popup-close {
        display: none;
    }
    .popup-stage {
        flex-direction: column;
    }
    .popup-stage-two {
        align-items: center;
    }
    .popup-stage-text {
        margin-top: 36px;
    }
    /* .popup-stage-btn {
        width: 100%;
    } */
}